* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #181818;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #222121;
  padding: 10px 40px;
}

.iconTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 750;
  font-size: 1.5rem;
  background-color: #242424;
}

#userInput {
  padding: 0.4rem;
  max-width: 150px;
  border-radius: 10px;
  outline: none;
  color: #ffffff;
  border: 0.15rem solid #969090;
  transition: border 0.4s, background-color 0.4s;
  background-color: #242424;
}

#userInput::placeholder {
  color: #cfc1c1;
}

#userInput:focus {
  border: 0.17rem solid rgb(255, 171, 185);
  transform: scale(1.05);
}

#userInput:hover + .suggestions {
  background-color: #333333;
  color: #ffffff;
}

.searchDiv {
  background-color: #242424;
  display: flex;
  gap: 1rem;
}

#submitButton {
  width: 4rem;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  border: none;
}

#submitButton:hover {
  background-color: #363434;
  transform: scale(1.13);
}

.body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.bodyBar {
  max-width: 200px;
  margin: 40px 1rem 0rem 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;
  font-weight: 1000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex: 1;
  transition: all 0.3s ease-in-out;
}

.newReleases,
.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  padding-left: 10px;
  display: block;
  font-family: serif;
  font-size: 1.1rem;
  transition: color 0.3s, transform 0.3s;
}

a:hover {
  color: #f0e68c;
  transform: scale(1.1);
}

p {
  padding-bottom: 10px;
}

.pagesContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 280px));
  grid-template-rows: repeat(3, 230px);
  flex: 7;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.gameBackground {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.gameCard {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.gameCard:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.gameName {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  background-color: inherit;
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #1f1f1f;
  color: #ffffff;
}

.gameMetaRating {
  font-size: 1rem;
  font-weight: 600;
  color: #2ee41e;
}

h3 {
  background-color: inherit;
}

p {
  display: flex;
}

.icon {
  width: 100%;
  height: 29px;
  object-fit: contain;
  flex: 1;
  background-color: #363434;
  border-radius: 10px;
  padding: 6px;
}

a {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

a1 {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  background-color: inherit;
}

a:hover .icon {
  transform: scale(1.2);
  background-color: #4d4a4a;
}

a:hover {
  cursor: pointer;
}

.infoImage {
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.gameTitleInfo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: inherit;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: #ffffff;
  flex: 8;
  width: 100%;
  flex-direction: row;
  margin-bottom: 6rem;
}

.gameDetails {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}

.ratingsCount,
.gamePlatforms,
.gameGenres,
.gameRatings,
.gameStores {
  font-size: 1rem;
  margin-bottom: 10px;
}

.gameDescription {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #aaaaaa;
  background-color: inherit;
  text-align: justify;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  color: #ffffff;
  flex: 8;
  width: 100%;
  flex-direction: column;
}

.gridContainer {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: transparent;
  align-self: center;
  row-gap: 10px;
  column-gap: 150px;
}

.gameTitleInfo {
  font-size: 3rem;
}

.gameDescription {
  font-size: 1.05rem;
}

/* Add animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pagesContainer,
.cardInfo,
.gameCard,
a {
  animation: fadeIn 0.5s ease-in-out;
}

.newReleases,
.top,
.allGames,
.daysAgo,
.lastWeek,
p,
.thisWeek,
.bestYear,
.popular,
.allTime,
.allGames,
.gameDetails,
.bodyBar {
  background-color: transparent;
}

.gridContainer {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: transparent;
  align-self: center;
  row-gap: 10px;
  column-gap: 150px;
  background-color: inherit;
}

.info {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 13px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b6969;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7e7d7d;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .pagesContainer {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: auto;
    margin: 20px;
  }
}

@media (max-width: 768px) {
  select {
    margin-left: 1rem;
  }

  .bodyBar {
    display: none;
  }

  .header {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 10px;
  }

  .bodyBar {
    flex-direction: column;
    align-items: stretch;
  }

  .pagesContainer {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (max-width: 480px) {
  .pagesContainer {
    grid-template-columns: 1fr;
  }

  .gameCard {
    max-width: 100%;
  }

  .gridContainer {
    align-self: self-start;
    grid-template-columns: 1fr;
    padding-top: 1.5rem;
  }

  .info {
    margin-bottom: 20px;
  }

  .gameTitleInfo {
    font-size: 2rem;
  }
}

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

.main-right {
  display: flex;
  flex-direction: column;
}

select {
  max-width: 135px;
  outline: none;
  border: none;
  background-color: #242424;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
}

.main-right {
  margin: 2rem 0rem;
  gap: 1rem;
}

.top,
.newReleases {
  min-width: 110px;
}

.searchIcon {
  fill: white;
}

.gameTitleInfo {
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
}

.game-name {
  background: transparent;
}

.back {
  padding: 0.5rem 0.3rem 0.5rem 0.7rem;
  background-color: #000000;
  font-size: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: transparent;
}

.info-icon {
  font-size: 24px;
}
